mixin table
    table(
        id=attributes.id, 
        class=attributes.class, 
        align=attributes.align, 
        width=(attributes.width) ? attributes.width : '100%', 
        bgcolor=(attributes.bgcolor) ? attributes.bgcolor : '',
        cellspacing='0', 
        cellpadding='0', 
        border='0'
    )
        block


mixin button
    +table(align='center', width='186', class='button-table')
        tr
            td.button(colspan='3', align='center')
                a(href="#{data.website.href}") Click here &rsaquo;


// spacer
mixin spacer-row
    tr
        td(
            class=(attributes.class) ? attributes.class : 'spacer-row',
            colspan=(attributes.colspan) ? attributes.colspan : '3'
        ) &nbsp;
    block


mixin spacer-row-small
    +spacer-row(class='spacer-row-small', attributes)


// text
mixin text-block
    tr
        td.spacer(width='20') &nbsp;
        td
            block
        td.spacer(width='20') &nbsp;


mixin text-row
    +spacer-row-small
    +text-block
        block
    +spacer-row-small



// image
mixin image-block
    tr
        td(colspan="3")
            block


mixin image-row
    +spacer-row-small
    +image-block
        block
    +spacer-row-small