include _mixins

doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
html(lang="nl")
  head
      title #{data.title}
      meta(http-equiv="imagetoolbar", content="no")

      link(rel='stylesheet', href='css/styles.css')
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

      style(type="text/css") !{responsive_css}

  body
      #container
          +table#main(bgcolor='#efefef')
            tr: td.spacer-row(colspan='3') &nbsp;
            tr
              td &nbsp;
              td#container-width(width='600')

                +table#preheader(bgcolor='#efefef')
                  tr: td: span.p
                      | Can't read this e-mail? 
                      a(href='#{data.webversion}') click here
                  tr: td.spacer-row-small &nbsp;


                // header
                +table#header
                  tr: td.spacer-row-small &nbsp; 
                  tr
                    td(align='left')
                      a#logo-link(href='#{data.website.href}')
                        img#logo(src='http://placehold.it/200x150/d2232a/ffffff&text=logo', width='200', height='150', alt='#{data.title}')
                  tr: td.spacer-row(colspan='3') &nbsp;

                // content
                +table#content(bgcolor='#ffffff')
                  tr: td.spacer-row(colspan='3') &nbsp;

                  // intro
                  tr
                    td.spacer(width='20')
                    td
                      p.title My Fantastic Email
                      p.
                        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically 
                        procrastinate B2C users after installed base benefits. Dramatically visualize customer 
                        directed convergence without revolutionary ROI.
                      p.
                        Efficiently unleash cross-media information without cross-media value. Quickly maximize 
                        timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar 
                        solutions without functional solutions.

                    td.spacer(width='20')
                  

                  // content
                  tr: td.spacer(colspan='3')


                  // repeater
                  each n in [1,2,3]
                      tr
                          td(colspan="3")
                              a(href="#{data.website.href}#{n}/")
                                  img(src="http://placekitten.com/1200/#{Math.round(Math.random() * 400)+ 500}", width="600", height="", editable="true")

                      tr: td.spacer-row(colspan='3') &nbsp;

                      tr
                          td.spacer(width='20')
                          td
                              p.title 
                                a(href="#{data.website.href}#{n}/") Subheading
                              p.
                                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically 
                                procrastinate B2C users after installed base benefits. Dramatically visualize customer 
                                directed convergence without revolutionary ROI.
                              p.
                                Efficiently unleash cross-media information without cross-media value. Quickly maximize 
                                timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar 
                                solutions without functional solutions.

                              +button
                          td.spacer(width='20')

                      tr: td.spacer-row(colspan='3') &nbsp;
                      // end repeater

                  tr: td.spacer(colspan='3')


                // footer icons
                +table.footer.footer-icons
                  tr: td(height='15', colspan='5')
                  tr
                    td.spacer(width='20')
                    td 
                      a(href="#{data.twitter_url}"): img(src="img/twitter.gif", width="30", height="30") 
                      &nbsp;
                      a(href="#{data.facebook_url}"): img(src="img/facebook.gif", width="30", height="30") 
                    td.spacer(width='20')
                  tr: td(height='15', colspan='5')


                // footer
                +table.footer(bgcolor='#ffffff')
                  tr: td(height='15', colspan='5')
                  tr
                    td.spacer(width='20')
                    td(valign="top", width="45%")
                      p.title Disclaimer
                      p Dramatically maintain clicks-and-mortar solutions without functional solutions because you subscribed at #{data.website.title}
                      p Copyright &copy; All rights reserved.

                    td.spacer(width='20')
                    td(valign="top", width="45%")
                      p.title Unsubscribe
                      p No more news from us? 
                          a(href="#{data.unsubscribe}") Unsubscribe
                      p Collaboratively administrate empowered markets via plug-and-play networks.
                    td.spacer(width='20')

              td &nbsp;
            tr: td(height='30', colspan='3')