include _mixins

doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
html(lang="nl")
  head
      title #{data.title}
      meta(http-equiv="imagetoolbar", content="no")

      link(rel='stylesheet', href='css/styles.css')
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

      style(type="text/css") !{responsive_css}

  body
      #container
          +table#main
            +spacer-row
            tr
              td &nbsp;
              td#container-width(width='600')

                +table#preheader
                  tr: td: span.p
                      | Can't read this e-mail? 
                      a(href='#{data.webversion}') click here
                  +spacer-row-small



                // header
                +table#header
                  +spacer-row-small
                  tr
                    td(align='left')
                      a#logo-link(href='#{data.website.href}')
                        img#logo(src='http://placehold.it/200x150/d2232a/ffffff&text=logo', width='200', height='150', alt='#{data.title}')
                  +spacer-row




                // content
                +table#content(bgcolor='#ffffff')

                  +spacer-row-small

                  // intro
                  +text-row 
                    span.title My Fantastic Email

                  +text-row 
                    span.p.
                      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically 
                      procrastinate B2C users after installed base benefits. Dramatically visualize customer 
                      directed convergence without revolutionary ROI.

                  +text-row 
                    span.p.
                      Efficiently unleash cross-media information without cross-media value. Quickly maximize 
                      timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar 
                      solutions without functional solutions.
                  



                  // repeater
                  each n in [1,2,3]

                    +text-row
                      a(href="#{data.website.href}#{n}/")
                        img(src="http://placekitten.com/1200/#{Math.round(Math.random() * 400)+ 500}", width="600", height="", editable="true")

                    +text-row
                      span.title 
                        a(href="#{data.website.href}#{n}/") Subheading

                    +text-row
                      span.p.
                        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically 
                        procrastinate B2C users after installed base benefits. Dramatically visualize customer 
                        directed convergence without revolutionary ROI.

                    +text-row
                      span.p.
                        Efficiently unleash cross-media information without cross-media value. Quickly maximize 
                        timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar 
                        solutions without functional solutions.

                    +text-row
                      +button

                    +spacer-row-small


                // footer icons
                +table.footer.footer-icons
                  tr: td(height='15', colspan='5')
                  tr
                    td.spacer(width='20')
                    td 
                      a(href="#{data.twitter_url}"): img(src="img/twitter.gif", width="30", height="30") 
                      &nbsp;
                      a(href="#{data.facebook_url}"): img(src="img/facebook.gif", width="30", height="30") 
                    td.spacer(width='20')
                  tr: td(height='15', colspan='5')



                // footer
                +table.footer(bgcolor='#ffffff')
                  +spacer-row-small(colspan="2")
                  tr
                    td(width="50%")
                      +table
                        +text-block
                          span.title Disclaimer
                        +text-block
                          span.p Dramatically maintain clicks-and-mortar solutions without functional solutions because you subscribed at #{data.website.title}
                        +text-row
                          span.p Copyright &copy; All rights reserved.
                    td.spacer(width='20')
                    td(width="50%")
                      +table
                        +text-block
                          span.title Unsubscribe
                        +text-block
                          span.p No more news from us? 
                            a(href="#{data.unsubscribe}") Unsubscribe
                        +text-row
                          span.p Collaboratively administrate empowered markets via plug-and-play networks.

                  +spacer-row-small(colspan="2")

              td &nbsp;
            tr: td(height='30', colspan='3')